 # prevent directory listings
Options -Indexes
IndexIgnore */*

# follow symbolic links
Options FollowSymlinks
RewriteEngine on
RewriteRule ^payme(/.+)?$ payme/web/$1 [S=2]
RewriteRule ^admin(/.+)?$ frontend/web/$1 [S=1]
RewriteRule ^(.+)?$ backend/web/$1