body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--bs-body-color);
    /*background: #f2f7ff;*/
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    margin: 0;
    text-align: var(--bs-body-text-align);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #25396f;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
.btn-group-lg > .btn,
.btn-lg {
    border-radius: 0.3rem;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}
.btn-primary {
    background-color: #435ebe;
    border-color: #435ebe;
    color: #fff;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #3950a2;
    border-color: #364b98;
    color: #fff;
}
a {
    color: #435ebe;
    text-decoration: none;
}

.steps-progress {
    pointer-events: none;
}
.steps-progress .btn-step-progress {
    background-color: #007bff;
    color: #ffffff;
}
.steps-progress .btn-step-progress.collapsed {
    background-color: #e9ecef;
    color: #ced4da;
}
@media (max-width: 575.98px) {
    .steps-progress .btn-step-progress.collapsed {
        display: none;
    }
}
@media (max-width: 991.98px) {
    .steps-progress .btn-step-progress.collapsed span {
        display: none;
    }
}
.steps-progress .btn-step-progress:not(:last-of-type) {
    margin-right: 20px;
}
.steps-progress .btn-step-progress span {
    margin-left: 10px;
}
#accordionExample .btn-secondary {
    background-color: #ebf3ff;
    border-color: #ebf3ff;
}
.btn-step {
    position: relative;
    display: block;
    padding: 20px 85px 20px 25px;
    width: 100%;
    text-align: left;
    pointer-events: none;
    color: #435ebe !important;
}
.btn-step:not(:first-of-type) {
    margin-top: 20px;
}
@media (min-width: 768px) {
    .btn-step {
        padding: 20px 115px 20px 60px;
    }
}
.btn-step:before,
.btn-step:after {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
}
@media (min-width: 768px) {
    .btn-step:before,
    .btn-step:after {
        right: 50px;
    }
}
.btn-step:before {
    content: "";
    border-radius: 0.25rem;
    background-color: #f9f9fa;
    border: 0 solid #adb5bd;
}
.btn-step:after {
    right: 30px;
    width: 20px;
    height: 20px;
}
@media (min-width: 768px) {
    .btn-step:after {
        right: 60px;
    }
}
.btn.btn-step.btn-secondary:after {
    content: "";
    display: inline-block;
}
.btn-step:not(.collapsed):after,
.btn-step:not(.collapsed) ~ .btn-step.collapsed:after {
    content: none;
}
.btn.btn-step.btn-secondary:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%230072bc' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.btn-step:not(.collapsed) {
    border-radius: 4px 4px 0 0;
}
.btn-step span {
    margin-right: 20px;
}
@media (max-width: 767.98px) {
    .btn-step span {
        display: none;
    }
}

/* CSS */
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}

.steps .step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #ebf3ff;
    transition: 0.4s;
}

.steps .step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: #435ebe;
    color: #fff;
}

.steps .done {
    background-color: #435ebe;
    color: #fff;
}

.steps .step-item {
    z-index: 10;
    text-align: center;
}

.steps #progress {
    -webkit-appearance: none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 18px;
    margin-bottom: 18px;
}

/* to customize progress bar */
.steps #progress::-webkit-progress-value {
    background-color: #435ebe;
    transition: 0.5s ease;
}

.steps #progress::-webkit-progress-bar {
    background-color: #ebf3ff;
}
.has-error .help-block{
    color: red !important;
}
